<!doctype <!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <h1>Things I need to do</h1>
        <table>
            {% for item in items %}
            <tr>
                {% if item.done %}
                <td><strike>{{ item.name }}</strike></td>
                {% else %}
                <td>{{ item.name }}</td>
                {% endif %}
            </tr>
            {% empty %}
            <p>You have nothing else to do.</p>
            {% endfor %}
        </table>
    </body>
</html>